extend layout

block content
	.row
		h3 Scalable Vector Graphics (SVG)
		p
			| is an XML-based vector image format for two-dimensional graphics with support for interactivity and animation.
	.row
		h3 D3.js
		b Data-Driven Documents
		|  D3.js is a JavaScript library for manipulating documents based on data. D3 helps you bring data to life using HTML, SVG and CSS. D3’s emphasis on web standards gives you the full capabilities of modern browsers without tying yourself to a proprietary framework, combining powerful visualization components and a data-driven approach to DOM manipulation.