extend layout

block content
	.row  
		h3 Scalable Vector Graphics (SVG) 
		p 
			| is an XML-based vector image format for two-dimensional graphics with support for interactivity and animation.
	.row
		h3 D3.js
		b Data-Driven Documents 
		| is a JavaScript library that uses digital data to drive the creation and control of dynamic and interactive graphical forms which run in web browsers. It is a tool for data visualization in W3C-compliant computing, making use of the widely implemented Scalable Vector Graphics (SVG), JavaScript, HTML5, and Cascading Style Sheets (CSS3) 